@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
.App {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #333;
}
.App .container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.App .container h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 400;
  margin: 10px auto;
}
.App .container p {
  color: #aaa;
  font-size: 0.8rem;
  margin: 10px auto;
}
.App .container img {
  width: 100%;
}
.App .container .date {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}
